@model BSUIR.Chepurok.EducationEpam.UI.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="container-layout">
  <div class="parallax overflow-hidden bg-blue-400 page-section third">
    <div class="container parallax-layer" data-opacity="true">
      <div class="media v-middle">
        <div class="media-left text-center">
          <a href="#">
            <img src="~/Content/images/people/110/guy-6.jpg" alt="people" class="img-circle width-80" />
          </a>
        </div>
        <div class="media-body">
          <h1 class="text-white text-display-1 margin-v-0">@Model.Profile.NameUser</h1><h2>@Model.Profile.PostInCompany</h2>
        </div>        
      </div>
    </div>
  </div>
  <div class="container">
    <div class="page-section">
      <div class="row">
        <div class="col-md-9">
          <div class="row" data-toggle="isotope">
            <div class="item col-xs-12 col-lg-6">
              <div class="panel panel-default paper-shadow" data-z="0.5">
                <div class="panel-heading">
                  <h4 class="text-headline margin-none">Лекции</h4>
                  <p class="text-subhead text-light">Мои недавние лекции</p>
                </div>
                <ul class="list-group">
                  <li class="list-group-item media v-middle">
                    <div class="media-body">
                      <a href="website-take-course.html" class="text-subhead list-group-link">Basics of HTML</a>
                    </div>
                    <div class="media-right">
                      <div class="progress progress-mini width-100 margin-none">
                        <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:45%;">
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item media v-middle">
                    <div class="media-body">
                      <a href="website-take-course.html" class="text-subhead list-group-link">Angular in Steps</a>
                    </div>
                    <div class="media-right">
                      <div class="progress progress-mini width-100 margin-none">
                        <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%;">
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item media v-middle">
                    <div class="media-body">
                      <a href="website-take-course.html" class="text-subhead list-group-link">Bootstrap Foundations</a>
                    </div>
                    <div class="media-right">
                      <div class="progress progress-mini width-100 margin-none">
                        <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%;">
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="panel-footer text-right">
                  <a href="website-student-courses.html" class="btn btn-white paper-shadow relative" data-z="0" data-hover-z="1" data-animated> Посмотреть все</a>
                </div>
              </div>
            </div>
            <div class="item col-xs-12 col-lg-6">
              <div class="panel panel-default paper-shadow" data-z="0.5">
                <div class="panel-body">
                  <h4 class="text-headline margin-none">Награды</h4>
                  <p class="text-subhead text-light">Мои недавние достижения</p>
                  @foreach (var item in Model.SwapBadges)
                  {
                    <div class="icon-block half img-circle bg-white">
                      <a data-toggle="modal" onclick="showModal('#viewModalContainerID', '#viewModalBodyID', @item.SwapBadgeID)">
                        <img src="@Url.ImagePath(item.Image)" alt="badge" class="img-circle width-60">
                      </a>
                    </div>
                  }
                </div>
              </div>              
            </div>
            <div class="item col-xs-12 col-lg-6">
              <div class="panel panel-default paper-shadow" data-z="0.5">
                <div class="panel-heading">
                  <h4 class="text-headline margin-none">Тесты</h4>
                  <p class="text-subhead text-light">Мои недавние тесты</p>
                </div>
                <ul class="list-group">
                  <li class="list-group-item media v-middle">
                    <div class="media-body">
                      <h4 class="text-subhead margin-none">
                        <a href="website-take-quiz.html" class="list-group-link">Title of quiz goes here?</a>
                      </h4>
                      <div class="caption">
                        <span class="text-light">Course:</span>
                        <a href="website-take-course.html">Basics of HTML</a>
                      </div>
                    </div>
                    <div class="media-right text-center">
                      <div class="text-display-1">5.8</div>
                      <span class="caption text-light">Good</span>
                    </div>
                  </li>
                  <li class="list-group-item media v-middle">
                    <div class="media-body">
                      <h4 class="text-subhead margin-none">
                        <a href="website-take-quiz.html" class="list-group-link">Directives & Routing</a>
                      </h4>
                      <div class="caption">
                        <span class="text-light">Course:</span>
                        <a href="website-take-course.html">Angular in Steps</a>
                      </div>
                    </div>
                    <div class="media-right text-center">
                      <div class="text-display-1 text-green-300">9.8</div>
                      <span class="caption text-light">Great</span>
                    </div>
                  </li>
                  <li class="list-group-item media v-middle">
                    <div class="media-body">
                      <h4 class="text-subhead margin-none">
                        <a href="website-take-quiz.html" class="list-group-link">Responsive & Retina</a>
                      </h4>
                      <div class="caption">
                        <span class="text-light">Course:</span>
                        <a href="website-take-course.html">Bootstrap Foundations</a>
                      </div>
                    </div>
                    <div class="media-right text-center">
                      <div class="text-display-1 text-red-300">3.4</div>
                      <span class="caption text-light">Failed</span>
                    </div>
                  </li>
                </ul>
                <div class="panel-footer">
                  <a href="website-student-quizzes.html" class="btn btn-primary paper-shadow relative" data-z="0" data-hover-z="1" data-animated> Результаты</a>
                </div>
              </div>
            </div>
            <div class="item col-xs-12 col-lg-6">
              <h4 class="text-headline margin-none">Форум</h4>
              <p class="text-subhead text-light">Последние сообщения форумов</p>
              <ul class="list-group relative paper-shadow" data-hover-z="0.5" data-animated>
                <li class="list-group-item paper-shadow">
                  <div class="media v-middle">
                    <div class="media-left">
                      <a href="#">
                        <img src="images/people/110/guy-3.jpg" alt="person" class="img-circle width-40" />
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="website-forum-thread.html" class="text-subhead link-text-color">Can someone help me with AngularJS?</a>
                      <div class="text-light">
                        Topic: <a href="website-forum-category.html">AngularJS</a> &nbsp; By: <a href="#">Adrian Demian</a>
                      </div>
                    </div>
                    <div class="media-right">
                      <div class="width-60 text-right">
                        <span class="text-caption text-light">1 hr ago</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item paper-shadow">
                  <div class="media v-middle">
                    <div class="media-left">
                      <a href="#">
                        <img src="images/people/110/guy-6.jpg" alt="person" class="img-circle width-40" />
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="website-forum-thread.html" class="text-subhead link-text-color">Can someone help me with AngularJS?</a>
                      <div class="text-light">
                        Topic: <a href="website-forum-category.html">AngularJS</a> &nbsp; By: <a href="#">Adrian Demian</a>
                      </div>
                    </div>
                    <div class="media-right">
                      <div class="width-60 text-right">
                        <span class="text-caption text-light">2 hrs ago</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item paper-shadow">
                  <div class="media v-middle">
                    <div class="media-left">
                      <a href="#">
                        <img src="images/people/110/guy-5.jpg" alt="person" class="img-circle width-40" />
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="website-forum-thread.html" class="text-subhead link-text-color">Can someone help me with AngularJS?</a>
                      <div class="text-light">
                        Topic: <a href="website-forum-category.html">AngularJS</a> &nbsp; By: <a href="#">Adrian Demian</a>
                      </div>
                    </div>
                    <div class="media-right">
                      <div class="width-60 text-right">
                        <span class="text-caption text-light">3 hr ago</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item paper-shadow">
                  <div class="media v-middle">
                    <div class="media-left">
                      <a href="#">
                        <img src="images/people/110/guy-4.jpg" alt="person" class="img-circle width-40" />
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="website-forum-thread.html" class="text-subhead link-text-color">Can someone help me with AngularJS?</a>
                      <div class="text-light">
                        Topic: <a href="website-forum-category.html">AngularJS</a> &nbsp; By: <a href="#">Adrian Demian</a>
                      </div>
                    </div>
                    <div class="media-right">
                      <div class="width-60 text-right">
                        <span class="text-caption text-light">4 hr ago</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <br />
          <br />
        </div>
        <div class="col-md-3">
          <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
            <div class="panel-heading panel-collapse-trigger">
              <h4 class="panel-title">Мой аккаунт</h4>
            </div>
            <div class="panel-body list-group">
              <ul class="list-group list-group-menu">
                <li class="list-group-item active"><a class="link-text-color" href="website-student-dashboard.html">Dashboard</a></li>
                <li class="list-group-item"><a class="link-text-color" href="website-student-courses.html">Мои курсы</a></li>
                <li class="list-group-item"><a class="link-text-color" href="website-student-profile.html">Профиль</a></li>
                <li class="list-group-item"><a class="link-text-color" href=@Url.Action("Logoff", "Account")><span>Выйти</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function showModal(modalContainerId, modalBodyId, id) {
    var url = $(modalContainerId).data('url');

    $.get(url, { id: id }, function (data) {
      $(modalBodyId).html(data);
      $(modalContainerId).modal('show');
    });
  }
</script>